@media(max-width:1000px){
    .skills{
        width:100%;
    }
    .welcome{
        padding:100px;
    }
    .hob{
        padding-bottom:0px;
    }
}
@media(max-width:650px){
    .skills{
        width:100%;

    }
    .hob{
        padding-bottom:0px;
    }
    .welcome{
        padding-bottom:100px;
        padding-top:100px;
        padding:30px;
    }
    .welcome h2{
        font-size:10px;
    }
    .text{
        font-size:30px;
    }
    .skills h2{
        font-size:20px;
    }
    .footer-logo{
        font-size:20px;
    }
    .footer-list li{
        font-size:15px;
    }
    .skills li{
        font-size:15px;
    }
}
